*{
	margin: 0;
	padding: 0;
}
ul,li,ol{
  list-style:none
}
a{
    text-decoration:none;
}
i,em{
	font-style: normal;
}
//
.hidden11{
	width:100%;

	background:#ffffff;

}
.hidden11 section{
	width:990px;
	
	
	margin:0 auto;
}
.hidden11 section>.h11-top{
	width:990px;
	height:100px;

	line-height:100px;
}
.hidden11 section>.h11-top>a{
	
	width:80px;
	height:100px;
	display:block;
	float:left;
	padding-left:20px;
}
.hidden11 section>.h11-top>img{
	float:left;
}
.hidden11 section>.h11-middle{
	width:988px;
	height:48px;
	border:1px solid #bbbbbb;
	line-height:48px;
}

.hidden11 section>.h11-middle>li:nth-child(1){
	float:left;
	width:83px;
	height:46px;
	border-bottom:2px solid #c80000;
	margin-left:23px;
}
.hidden11 section>.h11-middle>li:nth-child(1)>i{
	margin-left:8px;
	color:#ff8200;
	
}
.hidden11 section>.h11-middle>li:nth-child(2){
	float:right;
	border:1px solid #c1c1c1;
	font-size:12px;
	padding:12px 20px;
	width:96px;
	height:12px;
	line-height:12px;
	margin-top:6px;
	margin-right:8px;
	background:#f9f9f9;
	
}
.hidden11 section>.h11-middle>li:nth-child(3){
	float:right;
}
.hidden11 section>.h11-ul1{
	width:990px;
	height:38px;
	line-height:37px;
	background:#f9f9f9;
	
}
.hidden11 section>.h11-ul1>li{
	float:left;
	font-size:11px;
}
.hidden11 section>.h11-ul1>li:nth-child(1){
	margin-left:23px;
	margin-right:230px;

}
.hidden11 section>.h11-ul1>li:nth-child(2){
	margin-right:236px;
}
.hidden11 section>.h11-ul1>li:nth-child(3){
	margin-right:67px;
}
.hidden11 section>.h11-ul1>li:nth-child(4){
	margin-right:76px;
}
.hidden11 section>.h11-ul1>li:nth-child(5){
	margin-right:66px;
}
.hidden11 section>.box{
	width:990px;
	
	margin-top:30px;
}
.hidden11 section>.box>.box-1{
	width:988px;
	height:343px;
	border:1px solid #7f7f7f;

}
.hidden11 section>.box>.box-1>.box-1-s{
	width:948px;
	height:343px;
	
	margin:0 auto;
}
.hidden11 section>.box>.box-1>.box-1-s>p{
	width:948px;
	height:36px;
	
	line-height:36px;
	border-bottom:1px dashed #7f7f7f;
}
.hidden11 section>.box>.box-1>.box-1-s>p>i{
	display:inline-block;
	width:56px;
	height:18px;
	color:white;
	background:#d90204;
	font-size:10px;
	line-height:18px;
	text-align:center;
	border-radius: 2px;
	vertical-align: middle;

}
.o{
	width:948px;
	height:75px;
	
	margin-top:22px;
}
.o>li{
	float:left;
}
.o .li1{
	width:320px;
	height:75px;
	

}
.o .li1>input{
	display: block;
		float:left;
}
.o .li1>p{
	width:72px;
	height:72px;
	border:1px solid #828282;
	float:left;
}
.o .li1>p>img{
	width:72px;
	height:72px;
}
.o .li1>nav{
	width:222px;
	height:75px;
	background:white;
	float:left;
	margin-left:5px;
}
.o>.li1>nav>p{
	font-size:12px;
	margin-bottom:38px;
}
.o .li1>nav>span{
	font-size:12px;
	color:#ffac4c;

}
.o .li2{
	width:280px;
	height:75px;
	

}
.o .li2>p{
	margin-left:235px;
	font-size:12px;
}
.o .li3{
	width:123px;
	height:75px;
	background:white;

}
.o .li3>p{
	width:83px;
	height:26px;
	border:1px solid #666666;
	margin-left:39px;
}
.o .li3>p>a{
	display:block;
	width:27px;
	height:26px;
	text-align: center;
	line-height:26px;
	float:left;
}
.o .li3>p>span{
	display:block;
	width:27px;
	height:26px;
	text-align: center;
	line-height:26px;
	float:left;
}
.o .li3>p:nth-child(2){
	width:83px;
	height:26px;
	line-height:26px;
	text-align:center;
	margin-left:39px;
	border:none;
	font-size:12px;
}
.o .li4{
	width:100px;
	height:75px;
	

}
.o .li4>span{
	font-size:12px;
	margin-left:54px;
	display:block;
}
.o .li5{
	width:95px;
	height:75px;
	

}
.o .li5>span{
	font-size:12px;
	margin-left:64px;
	display:block;
}
.p{
	width:670px;
	height:190px;
	border:1px solid #7f7f7f;
	margin-left:105px;
}
.p>.li6{
	width:622px;
	height:72px;
	margin-top:15px;
	margin-left:15px;
	
}
.p>.li6>p{
	width:72px;
	height:72px;
	border:1px solid #828282;
	float:left;
}
.p>.li6>p>img{
	width:72px;
	height:72px;
}
.p>.li6>span{
	float:left;
	font-size:12px;
}

.p>.li7{
	width:622px;
	height:72px;
	margin-top:15px;
	margin-left:15px;
	
}
.p>.li7>p{
	width:72px;
	height:72px;
	border:1px solid #828282;
	float:left;
}
.p>.li7>p>img{
	width:72px;
	height:72px;
}
.p>.li7>span{
	float:left;
	font-size:12px;
}
.p>li>div{
	width:72px;
	height:72px;
	
	float:right;
}
#cancel:hover{
	cursor: pointer;
}